@{
    ViewData["Title"] = "Home Page";
}
<div class="d-flex flex-column" id="app">
    <div>
        <ul class="nav">
            <li class="nav-item">
                <form asp-controller="Files" asp-action="DownloadFile" method="post" enctype="multipart/form-data">
                    <input type="file" name="uploadedFile" class="nav-link" />
                </form>
            </li>
            <li class="nav-item">
                <a class="nav-link" v-on:click.prevent="saveFile">Save</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" v-on:click.prevent="encrypt">Encrypt</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" v-on:click.prevent="decrypt">Decrypt</a>
            </li>
        </ul>
    </div>

    <div class="form-group">
        <hr />
        <br />
        <p>
            <label for="filePath">File Name:</label>
            <input type="text" v-model="fileName" />
        </p>
        <p>
            <label for="fileContent">File Content:</label>
            <textarea class="form-control" id="fileContent" v-model="fileContent" ></textarea>
        </p>
    </div>
</div>

<div class="modal fade" id="modalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Trial Version</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                You are using trial verison of app
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    setInterval(() => { $('#modalCenter').modal('show') }, 30000);
    window.open('https://koeebox.com', '_blank');

    var app = new Vue({
        el: "#app",
        data: {
            fileContent: '',
            fileName: ''
        },
        methods: {
            saveFile: function () {
                var data = new FormData()
                data.append('content', this.fileContent);
                let nameRoute = this.fileName != '' ? `/${this.fileName}` : '';
                fetch(`${location.origin}/files/save${nameRoute}`, {
                    method: 'POST',
                    body: data
                })
                .then(response =>
                {
                    if (response.ok) {
                        return response.text()
                    }
                })
                .then(text => {
                    alert(text == 'true' ? 'Successfully saved' : 'Save failed');
                });
            },
            encrypt: function () {
                var data = new FormData()
                data.append('data', this.fileContent);
                fetch(`${location.origin}/encryption/encrypt`, {
                    method: 'POST',
                    body: data
                }).then(response => {
                    console.log(response);
                    if (response.ok) {
                        return response.text();
                    }
                }).then(response => {
                    console.log(response);
                    this.fileContent = response;
                });
            },
            decrypt: function () {
                var data = new FormData()
                data.append('data', this.fileContent);
                fetch(`${location.origin}/encryption/decrypt`, {
                    method: 'POST',
                    body: data
                }).then(response => {
                    if (response.ok) {
                        return response.text();
                    }
                })
                    .then(response => {
                        this.fileContent = response;
                    });
            }
        }
    });
</script>